# Environment variables
.env

# Virtual Environment
env/
venv/
ENV/
.venv/

# Temporarily used files
all links.txt

# Python virtual environment binary files
bin/
lib/
include/
*.pyc
__pycache__/
*.py[cod]
*$py.class